.add-new {
    color: white;
    background-color: #004932;
    font-size: medium;
}

.header-sec {
    padding-bottom: 4%;
}

.inner-div {
    padding: 6% 0%;
}

.modal-head {
    font-weight: 600;
}
