.cat
{
    text-align: center;
}

button
{
    background-color: white;
    border: 0;
    height: 30vh;
    width: 30vh;
    border-radius: 10%;
    box-shadow: 0rem 0.4rem 0.4rem rgb(194, 194, 194);
}

p{
    padding-top: 0.5rem;
}
